# Backend host, required
BACKEND_HOST=

# Mapbox tokens and styles, required for map elements
MAPBOX_ACCESS_TOKEN=
MAPBOX_STYLE_DARK=
MAPBOX_STYLE_LIGHT=

# Websockets server, optional
WS_KEY=
WS_HOST=
WS_PORT=
WS_TLS=

# ImageKit endpoint for on the fly meta images generation, optional
IMAGE_KIT=

# Commit reference, from Cloudflare Pages, optional
COMMIT_REF=

# VAPID key for push notifications, same as backend, optional
VAPID_KEY=

# Report URL for vehicles change, optional
REPORT_FR=
REPORT_EN=