// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$body-font-family: 'Inter', sans-serif;
$heading-font-family: 'Figtree', sans-serif;
/*
$rounded: (
  0: 0,
  'sm': $border-radius-root / 2,
  null: $border-radius-root,
  'lg': $border-radius-root * 2,
  'medium': $border-radius-root * 4,
  'xl': $border-radius-root * 6,
  'pill': 9999px,
  'circle': 50%
);
 */
$grid-breakpoints: (
  'xs': 0,
  'sm': 640px,
  'md': 768px,
  'lg': 1024px - 24px,
  'xl': 1280px - 24px
);
